.AboutContainer {
  padding-left: 10%;
    padding-right: 10%;
    max-width: 120rem;
    margin: auto;
    display: flex;
   flex-direction: column;
   margin-top: 1.5rem;
   margin-bottom: 6rem;
   width: 50%
}
h4 {
color: #000;
font-family: "Neue Haas Grotesk Display Pro";
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 1.75;
letter-spacing: 1.75px;
text-transform:initial;
}
.AboutImages {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  margin-left: 23rem;
  min-width: 0rem;
  gap: 24px;
  display: flex

}
.AboutImage {
width: 90%;
align-self: center;
border-radius: 50%;
height: 130px;
width: 130px;


}


.AboutHi {
  font-size: 6.3rem;
  text-transform: lowercase;
  font-weight:600;
  letter-spacing: -.03em;
  line-height: 1.1;
  color: #000;
  text-align: right;
  margin-bottom: 0;
  margin-top: 2.5rem;
  text-align: left;
  margin-left: 7rem;
  width:fit-content
}

.AboutText {
  text-align: left;
  margin-top: 1.5rem;
font-family: gelica, sans-serif;
font-weight: 300;
letter-spacing: .01rem;
overflow-y: scroll;
font-weight: 300;
margin-left:23rem
}
.AboutInfo {
  display: flex;
   justify-content: left;
   height: 5rem;
   margin-left:23rem;
   margin-top: 2rem
}
.AboutResume {
  font-weight: 600;
  font-size: 1rem;
  padding-top: 1rem;
  letter-spacing: .34rem;
  text-align: left;
  color: black
}
.AboutResume:hover {
  font-weight: 300;
  letter-spacing: .35rem;
}
.AboutResume.download {
  margin-left: 1rem;
}
.AboutResume.view {
  margin-right: 1rem
}
.AboutResume_span {
  margin-left: 1.5rem;
}

.Container.about {
  display: flex;
width: 95rem;
margin: auto;
margin-top: 29rem;
}

.AboutContainerNew {
  margin-bottom: 6rem;
  overflow-y: scroll;
display: flex;
flex-direction: column;
margin-bottom: 4rem;
margin-left: 5.5rem;
width: 77%

}
.AboutResume_span {
  visibility: visible;
}


/* ///// Media Queries ///// */
@media screen and (min-width: 769px) and (max-width: 1030px) {
  .Container.about {
    width: 94%
  }
  .AboutHi{
    font-size:5.5rem;
    width:fit-content
    /* margin-top:12rem */
  }
  .AboutImages {
    margin-left: 20rem;
    min-width: 0rem;
    gap: 20px;
    display: flex
;
    flex-direction: row;
  }
  .AboutImage {
   width: 120px;
    height: 120px;
  }

  .AboutContainerNew {
    width: 92%;
    margin-left: 8rem
  }
  .AboutText {
    width:44.4rem;
    margin-left:20rem
  }
  .AboutInfo {
    margin-left:20rem
  }

}

@media screen and (max-width: 768px)  {
  .AboutInfo {
    flex-direction: column;
    height:fit-content;
  }

  .AboutResume.download {
    margin: 0
  }
  .AboutResume.view {
    margin-bottom: -1.75rem
  }
  .AboutResume_span {
    visibility: collapse;
  }
  .AboutContainerNew {
    width: fit-content;
    margin-left: 0rem;
    margin: auto;
    margin-bottom: 6rem
  }

}

@media screen and (min-width: 480px) and (max-width: 768px)  {
.Container.about {
  width: 90%
}
.AboutHi{
  font-size: 5rem;
  margin-left: 0rem
 }
 .AboutImages {
  margin: 0rem;
  gap: 16px;
  display: flex;
  flex-direction: row;
}

.AboutText {
  font-size: 1.9rem;
  margin-left: 7rem;
  max-width: 44.4rem;
}
.AboutInfo {
  margin-left: 7rem
}
.AboutImage {
  width: 102px;
  height: 100%
}

}


@media screen and (max-width: 479px) {

  .Container.about.mobile {
    margin-top: 18rem;
    width: 90%;
    flex-direction: column;

  }
  .AboutHi {
    font-size: 4.5rem;
    margin: 0;
    text-align: left;
    margin-top: 2rem
  }
  .AboutContainerNew {
    margin: 0;
    width: 100%;
    margin-top:2rem
  }
  .AboutImages {
    margin: 0rem;
   gap:16px
 }
  .AboutText {
    font-size: 1.8rem;
    margin-left: 5rem
  }
  .AboutInfo {
    margin-left: 5rem;
    margin-bottom: 6rem
}
.AboutImage {
  width: 92px;
  height: 100%;
}
}



