.DevImagesContainer {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 72px;
  margin-bottom: 6rem;

}

.DevImage {
  width: 100%;
  max-width: 440px;
}

.DevImage.wd {
  border: .5px solid black

}
