
.Container.contact {
display: flex;
width: 95rem;
margin: auto;
margin-top: 30rem
}
.Container_overlord {
  width: 100%
}
.SecondContainer {
  display: flex;
  flex-direction: row;
}
.SecondContainer {
  flex-direction: column;
}

.SecondContainer.form {
  flex-direction: row;
}
.ButtonContainer.contact {
  margin-left: 38rem;
  flex-direction:unset
}
.Contact_text {
  font-weight: 600;
  align-self: start;
  margin-top: 2rem

}
.Contact_text.name {
    margin-top: 0rem
}

.Contact_text.message {
  margin-bottom: 2rem
}

.ContactForm {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.ContactForm.text {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 4rem; */
  width:100%;
  margin-left:4rem
}
input, textarea {
  background-color: initial;
  border-bottom: .5px solid black;
  height: 5rem;
  text-align: left;
  text-transform: initial;
  font-size: 1.5rem;
  letter-spacing: .01rem;

}
textarea {
  background-color: initial;
  border: .5px solid black;
  min-height: 15rem;
  padding: 2rem
}

.AboutContact {
  font-size: 5.5rem;
  text-transform: lowercase;
  font-weight:600;
  letter-spacing: -.03em;
  line-height: 1.1;
  color: #000;
  margin-top: 19.5rem;
  text-align: left;
  margin-left: 18%;
  margin-bottom: 3rem
}
.Button_website.form {
  margin-left: 4rem;
  margin-top: 2rem;
}

h5.h5.contact {
  font-size: 1.9rem;
  color: black;
  text-transform: initial;
  letter-spacing: .1rem;
  font-weight: 400;
  font-family: "neue-haas-grotesk-display", sans-serif;
  text-align: left;
  line-height: 1.6;
  margin-top: -3rem;
  margin-left: 19.5rem;
}
