
.HomeButton {
  font-size: 5.5rem;
  text-transform: lowercase;
  font-weight:600;
  letter-spacing: -.03em;
  line-height: 1.1;
  margin-left: 4.3rem;
  color: rgba(0, 0, 0, 0.5);
  background-color: inherit;
  cursor:pointer;
}

.HomeButton.ux{
  margin-left: 0;
  color: #000;
  margin-bottom: .95rem;
}

.HomeButton:hover {
  color: rgba(0, 0, 0, 0.3);

}
.HomeButton.ux:hover {
  color: #808080;
}
.HomeButton.ux.default {
  color: #808080;
  margin-bottom: .05rem;
}

a.HomeButton.ux.default > span.smallSlash  {
  color: #808080}

  .HomeButton.ux.default:hover {
    color: rgba(0, 0, 0, 0.3);

  }

  a.HomeButton.ux.default:hover > span.smallSlash  {
    color: rgba(0, 0, 0, 0.3)}

    .HomeButton.print {
      color: #000;
    cursor: default
    }


hr {
  display: block;
  height: 3px;
  border: 0;
  border-top: 3px solid #000;
  margin: -.65rem 0;
  padding: 0;
}
.smallSlash {
  font-size: 4.5rem;
  margin: 0 -.6rem 0 0;
  font-weight: 600;
}

  a.HomeButton.ux:hover > span.smallSlash  {
    color: #808080}

    .HomeButton.ux:hover .under {
      border-color:  #808080;
    }


