/* General reset for the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main container for the carousel */
.whcarousel-container {
  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  margin-top: 2rem; */
  /* width: 94rem */
}

/* .prev-button {
background:  #231F20;
margin-right: -3rem

}


.slick-slider .slick-initialized {
  margin: auto;
} */


/*
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
} */

/* .slick-prev {
  left: 100px;
  color: black;
} */
/* .slick-prev, .slick-next {

  position: absolute;
  top: 50%;
} */

 /* .next-button {
  background:  #231F20;
  margin-left: -3rem

  } */


/* img.carousel-image {
  width: 95rem
} */

/* .arrow {
  width: 4rem;
  position: relative;
  z-index: 50;
  background-color:  #231F20;
  margin-bottom:14rem
} */

/* .carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
} */


/* ///// Media Queries ///// */
@media screen and (min-width: 769px) and (max-width: 1030px) {
  img.carousel-image.ssc {
    width: 75rem
  }
  }

  @media screen and (max-width:768px) {
    img.carousel-image.ssc {
      width: 100%
    }
  }
