/* .Container.wh {
  margin: auto;
  margin-top: 20rem;
  background: #FAF9F8;
  width: 100%;
  overflow-x: hidden;
} */

.WhContainer {
  display: flex;
    width: 95rem;
    margin: auto;
    margin-top: 26rem;
    flex-direction: column;

}
.slick-slider {
  width: 75%;
  margin: auto;
}

video {
  border: 1px solid black;
  border-radius: 30px
}



.carousel-spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
