.WhContainer, .WhContainer_ipad{
  display: flex;
    width: 95rem;
    margin: auto;
    margin-top: 20rem;
    flex-direction: column;
    align-items: center;

}

video {
  border: .75px solid #000;
  border-radius: 30px
}



.carousel-spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.Button_website.iphone {
  margin-top:4rem
}

.iphone-carousel-wrapper {
  width: 35%
}

/* Specific size for the iPad carousel */
.ipad-carousel-wrapper {
  width: 55%;
}


