.Container.wh {
  margin: auto;
  margin-top: 20rem;
  background: #FAF9F8;
  width: 100%;
  overflow-x: hidden;
}
video {
  border: 1px solid black;
  border-radius: 30px
}
.inline-gallery-container {
  width: 100%;

  /* // set 60% height */
  height: 0;
  padding-bottom: 65%;
}
