.IdeateContainer {
  width: 100%;
  background: #231F20;
  border-radius: 20px;
  display: flex;
  padding-bottom: 6.5rem;
  margin-bottom: 10rem;;
  flex-direction: column;
}
.IdeateContainer.ssc, .IdeateContainer.nyt, .IdeateContainer.fh {
  padding-bottom: 7.5rem
}

.ButtonContainer.ideate {
  margin-top: 0rem
}

 .competitive.style, .competitive.mood {
  margin-top: -4.5rem;
}
 .competitive.style {
  width: 108rem;
  margin-top: -19.5rem;
  margin-bottom: -2.5rem;
  margin-left: -7rem
 }
  .competitive.style.ssc {
    margin-top:-19rem
  }
 .competitive.ideate {
margin-top: -5rem;
 }

  .competitive.ideate.nyt {
  margin-top: -20.5rem;
  width: 107rem;
   margin-left: -8rem;
   margin-bottom: -4rem;
 }
 .WireframesContainer {
  display: flex;
  justify-content: space-between;
}
.competitive.mid_fi.desktop
 {
    width: 59rem;
    margin-top: 0.75rem;
}
.competitive.mid_fi.mobile {
    width: 32rem;
    margin-top: 0.5rem;
}

@media screen and (min-width: 769px) and (max-width: 1030px) {
  .IdeateContainer {
   margin-bottom: 8rem;
   padding-bottom: 5rem
  }
  .IdeateContainer.ssc {
    padding-bottom: 6.5rem;
}

 .competitive.style {
  width: 95%;
  margin: 0;
  margin-top: -16rem;
  margin-bottom: -2.5rem;
  margin-left: 0rem
 }
 .competitive.mood {
  margin-bottom: 1rem
 }
  .competitive.style.ssc {
    margin-bottom: -1rem;
    margin-top: -15rem;
  }


 }

 @media screen and (min-width: 480px) and (max-width: 768px) {
  .IdeateContainer {
    margin-bottom: 8rem;
    padding-bottom: 4.5rem
   }

.h5.dropCap, .h5.marginTop {
  margin-top: 6rem
}
.IdeateContainer.ssc {
  padding-bottom: 4.5rem
 }
  .WireframesContainer {
    width: 100%;
    flex-direction: column;
  }
  .ButtonContainer.ideate.ssc {
    width: 100%

  }

 .competitive.style.ssc {
    width: 110%;
    margin: auto;
    margin-left: -5%;
    margin-top:-15rem
 }
 }
 @media screen and (max-width: 479px)  {
  .IdeateContainer,  .IdeateContainer.ssc {
    margin-bottom: 7rem;
    padding-bottom: 3rem
   }
    .competitive.style, .competitive.ideate.nyt {
    margin-top: 0;
    width: 120%;
    margin-left: -3rem
}
.competitive.fh {
  margin-top: 0;
  width: 140%;
  margin-left: -7rem;
}
.WireframesContainer {
  width: 100%;
  flex-direction: column;
}

}



