.PrototypeContainer {
  display: block;
  margin: auto;
  width: 95rem;
  flex-direction: column;
  margin-bottom:8rem

}
.prototype_container_desktop {
  margin-bottom: 4rem
}
@media screen and (min-width: 768px) and (max-width: 1030px) {
  .PrototypeContainer {
    width: 100%
  }
  .prototype {
    width: 25rem;
}
}


@media screen and (max-width: 767px) {
  .PrototypeContainer {
    width: 100%
  }
  .prototype_container_desktop, .prototype_container_mobile{
    width: 100%
  }
  .prototype.fh_desktop {
    width: 70%
  }
  .prototype.fh_mobile {
    width: 30%
  }
}

@media screen and (max-width: 479px)  {
  .PrototypeContainer {
    margin-bottom: 7rem
  }
  .prototype {
    width: 50%
  }

}
