.TestingContainer {
  width: 100%;
  background: #231F20;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
  margin-bottom: 9rem

}
.TestingContainer.ssc {
  padding-bottom: 3rem;
}
.TestingContainer.nyt {
  padding-bottom: 4.75rem;
}
.competitive.nyt_iteraction {
  margin-top: 1.5rem;
  width: 95rem;
}
.competitive.fh_iteraction {
  margin-top: .5rem;
   width: 95rem;
   margin-bottom: 1rem
}

.competitive.testing {
  width: 55rem

}
.ssc_testing_new, .fh_mobile {
  display: flex;
  justify-content: space-around;
  width: 100%;
margin-bottom:4rem
}

.ssc_testing_new.last {
  justify-content: space-around;
}
.ssc_testing_new .ssc {
  width: auto;
  height: 44.5rem;
  object-fit: cover;
}

.fh_testing {
  width: auto;
  height: 53rem;
  object-fit: cover;
   margin-bottom:-4rem
}
.ssc.checkout {
  margin-left: 3rem
}
.ssc.review {
  margin-right: 3rem
}

 @media screen and (max-width: 1030px) {
  img.ssc, img.ssc.two, img.ssc, .ssc.checkout, .ssc.cart {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

   img.ssc.review {
    margin-top: 2rem
   }

   .ssc.cart {
    margin-bottom: 0rem
  }
   .ssc_testing_new{
    display: flex;
      justify-content: space-around;
      margin-bottom: 2rem;
      flex-direction: column;
      width: 49rem;
      margin: auto;
  }
}


@media screen and (min-width: 769px) and (max-width: 1030px) {
  .TestingContainer.ssc {
    padding-bottom: 2rem;
    margin-bottom: 7.5rem;
  }
  .TestingContainer.fh {
    padding-bottom: 7rem;
     margin-bottom: 7.5rem;

  }
  img.ssc.two, .ssc.checkout, img.ssc.review, img.ssc.checkout{
    width: 70%;
    margin: auto;
    height: auto
  }
  img.ssc, img.ssc.two, img.ssc, .ssc.checkout, .ssc.cart {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

   img.ssc.review {
    margin-top: 2rem
   }

   .ssc.cart {
    margin-bottom: 1rem
  }
  .ssc_testing_new .ssc {
          width: 100%;
        height: auto;
        margin: auto;
}


  .TestingContainer {
    padding-bottom: 4rem;
    width: 100%
  }
  .competitive.nyt_iteraction {
    width: 100%
  }
  .competitive.fh_iteraction {
    width: 100%
  }
  .fh_testing {
    width:40%;
    height: auto
  }

}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .TestingContainer, .TestingContainer.fh {
    padding-bottom: 4rem;
    margin-bottom: 8rem
  }
  .TestingContainer {
    margin-bottom: 7rem
  }
  .TestingContainer.ssc {
    padding-bottom: 3rem;
  }
  .competitive.nyt_iteraction, .competitive.fh_iteraction {
    width: 100%
  }
  .fh_testing {
  width: 50%;
  height: auto;
  margin: auto;
  margin-bottom: -1rem
}
.fh_testing.home3 {
  margin-bottom: 2rem
}

.fh_mobile {
  display:flex;
  flex-direction: column;
  margin-bottom: 0
}
.ssc_testing_new {
  width: 100%
}
img.ssc {
  width: 100%;
  height: auto;
  margin: auto;
}
.ssc.checkout, .ssc.review {
    margin:auto
}
.ssc_testing_new .ssc {
    width: 90%;
    height: auto;
}

.ssc.two, .ssc.checkout, .ssc.review {
  width: 61%
}
img.ssc.two.search, img.ssc.two.product {
  margin-bottom: 0rem
}

 }


  @media screen and (max-width: 479px) {
  img.ssc, img.ssc.two, img.ssc, .ssc.checkout, .ssc.cart {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

   img.ssc.review {
    margin-top: 2rem
   }

   .ssc.cart {
    margin-bottom: 1rem
  }
   .ssc_testing_new{
      width: 100%;
  }
  .ssc_testing_new .ssc {
          width: 100%;
        height: auto;
        margin: auto;
}
.ssc.two, .ssc.checkout, .ssc.review {
  width:70%
}
.ssc.two.search {
  margin-bottom: 0rem
}

 .competitive.nyt_iteraction {
    width: 100%
  }
  .TestingContainer {
    padding-bottom: 2rem;
    margin-bottom: 7rem;
  }
  .competitive.fh_iteraction {
    width: 100%
  }
  .ssc_testing_new .fh {
    height: auto;
    margin-bottom: 0
  }
.fh_testing {
  width: 100%;
  height: auto;
  margin-bottom: -1rem
}
.fh_testing.home3 {
  margin-bottom: 2rem
}

.fh_mobile {
  flex-direction: column;
  margin-bottom: 0
}


 }


