/* *** containers *** */

.OpenerContainer {
  width: 95rem;
  margin: auto;
  margin-bottom: 9rem;
}
.OpenerContainer.define {
  margin-top: 4rem
}
.OpenerContainer.designFh{
  margin-top: 4rem;
  margin-bottom: 3rem
}

.InnerContainer {
  display: flex;
  margin: auto;
  width: 95rem;
  flex-direction: column;
}
.InnerContainer.prototype {
  display:block;
  margin-bottom: 9rem
}

.InnerContainer.prototype.fh {
display: flex;
    margin-bottom: 9rem;
    flex-direction: row;
    width: 90rem;
    justify-content: space-between;
}

.InnerContainer.reflection  {
  margin-top: 4rem
}
.WideContainer {
  width: 100%;
  background: #231F20;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

}
.WideContainer.bottom {
  margin-top: .5px;
  margin-bottom: 9rem
}
.WideContainer.ideate {
  padding-bottom: 8rem;
  margin-bottom: 9rem
}
.WideContainer.ideate.nyt {
  padding-bottom: 5rem
}
.WideContainer.nyt.research {
  padding-bottom: 8rem;
}
.WideContainer.testing {
  padding-bottom: 3rem;
  margin-bottom: 9rem
}
.WideContainer.reflection {
  padding-bottom: 6rem;
  border-radius: 20px 20px 0px 0px;
}
.WideContainer.Fh.Research {
  padding-bottom: 8rem;
}

.Opener {
  display: flex;
  margin: auto;
  width: 80rem;
  justify-content: space-between;
}
.Opener.fh {
  margin:0
}
.OpenerFoto {
  width: 31%;
  align-self: center;
}

.OpenerFoto.desktop {
  width: 90%
}
.OpenerFoto.mobile {
  width: 25%;
  margin-left: -3rem;
  margin-top: -4rem
}

.background {
    background: #231F20;
    margin-top: -25rem;
    width: 100%;
    height: 31rem;
    border-radius: 20px;

}
.textWrapper {
  background: #231F20;
  width: 100%;
  border-radius: 20px;
  margin-top: .5px;
  padding: 3.5rem;
}
h2 {
  font-family: gelica, sans-serif;
  color: white;
  font-size: 4.5rem;
  text-transform: initial;
  letter-spacing: .01rem;
  line-height: 1.5;

}
.h2_white {
  color: black
}
h5,.leadin {
  font-size: 1.9rem;
  color:white;
  text-transform: initial;
  letter-spacing: .1rem;
  font-weight: 400;
   font-family: "neue-haas-grotesk-display", sans-serif;;
   text-align: left;
   line-height: 1.6;
}
.h5.openerType {
  text-align: center;
}
.h5.black {
  color: black;
}
.h5.black.center {
  text-align: center;
  margin-bottom: 3rem;
}

.h5.black.center.venn {
  margin-top: 2rem;
}


.h5.small {
  color: black;
  font-size: 1.6rem;
  line-height: 1.5;
}

.h5.dropCap, .h5.marginTop {
  margin-top:5rem;
}

.h5.research {
  margin-top: 2rem
}
.h6.studies {
  font-size: 1.4rem;
}
.h6.small {
  margin-bottom: .5rem
}
.h6.small.space {
  margin-top: 1rem
}
li.smHed {
  margin-left:-3rem
}



.OpenerInfo {
  display: flex;
  margin: 4rem;
  justify-content: space-between;
  margin-bottom: 0
}
.Info {
  width: 80%
}
.InfoSmall {
  width: 15%
}

.divider_curved {
  width: 100%;
  height: 3rem;
  border-radius: 20px;
border-bottom: .5px solid #000;
margin-bottom: 2rem;}

.divider_curved.top {
  margin-bottom: 0rem
}

.divider_curved_down {
  width: 100%;
  height: 3rem;
  border-radius: 20px;
  border-top: 1px solid #000;
}

.BlackHeds {
  background: black;
  padding: 2rem;
  width: fit-content;
  height:fit-content;
  margin: auto;
  margin-bottom: .5px;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  line-height: 0;
  padding: 1rem 1.5rem;

}
.BlackHeds.white {
  background: white;
  border: 1.5px solid black;
}


.h5.dropCap::first-letter {
  font-family: gelica, sans-serif;
  color: white;
  font-size: 10.5rem;
  float: left;
  line-height: .85; /* from 1 */
  margin-right: 0.05em;
  font-weight: 200;
}


.h5.dropcap.black {
  color: black
}
.h5.dropCap.black::first-letter {
  color: black
}
.h5.leadins {
  margin-top: 6rem;
  margin-bottom: 5rem
}
.leadin {
  font-weight: 600;
  font-size: 1.75rem;
  letter-spacing: .05rem;
}
.leadin.black {
  color: black;

}

.StudiesTopContainer {
  padding-top: 5rem;
}
.ButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  position: relative;
  margin-top: 3rem
}


.Button.enlarge {
  background: black;
  color: white;
  padding: .5rem 2rem;
  border-radius: 10rem;
  width: fit-content;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border: 1.25px solid rgb(160, 157, 157);
  font-size: 1.3rem;
  font-weight: 600;
  position: relative;
  z-index: 50;
}
.Button.enlarge.white {
  background: white;
  color:black;
  border: 1.25px solid black

}
.magnifier {
  width: 6rem;
  position: relative;
  z-index: 50;
  ;
}
.magnifier.wh {
  background-color: #FAF9F8;
}

button {
  background-color: #FAF9F8;
  background: none;
}
.competitive, .mood {
  width: 75rem;
  border-radius: 20px;
  margin: auto;
  margin-top: -11.5rem;
}
.competitive.venn {
  margin-top: -5.5rem
}
.competitive.designFh{
  width: 90rem;
  margin-top: -11rem
}
.competitive.nyt_iteraction {
  margin-top: 1.5rem;
  width: 95rem
}

.competitive.designFh.four{
  width: 95rem;
  margin-top: -6rem;
  margin-bottom: -8rem
}
.competitive.mid_fi.desktop{
  width: 61rem;
  margin-top: 0.75rem;
}

.competitive.mid_fi.mobile{
  width: 34rem;
  margin-top: 0.5rem;
}
.mood, .style {
  margin-top: -5rem;
}
.competitive.flow {
  width: 82rem;
  margin-top: -13.5rem;
}
.competitive.flow.nyt {
  margin-top: -10.5rem;
}
.competitive.mid_fi {
  width: 81.5rem;
  margin-top: -2.5rem;
}
.competitive.hi_fi {
  width:95rem;
  margin-top: -4.5rem;
}
.competitive_lg {
  border-radius: 20px;
  width: 100%;
  height: fit-content;
}
.competitive.persona {
  margin-top: -5rem;
  margin-bottom: 8rem
}


.competitive.fh_mobile {
  width:95rem;
  margin-top: -1rem
}

.h5.bullets {
  margin-top: 2rem
}

li {
  list-style: '•';
  color: white;
  font-size: 2rem;
  padding-left: 1rem
}
li.black {
  color: black
}

li.first_li_research {
  padding-left: 1rem
}
li.first_li_testing {
  padding-left: 1rem;
  margin-left: 7rem
}
li.second_li_testing {
  margin-left: -4rem
}

ul {
  padding-left: .75rem
}

.space {
  padding-left: 1rem
}

.dropCap.hang {
  font-family: gelica, sans-serif;
  font-weight: 200;
  color: black;
  font-size: 5.5rem;
  float: left;
  margin-top: .75rem;
}
.dropCap.hang.one {
  margin-left:1rem
}
.dropCap.nyt_test {
  font-size: 5.4rem
}

.smallWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 1rem
}

.prototype {
  width: 35rem
}
.prototype.fh_desktop {
  width: 65rem
}
.prototype.fh_mobile {
  width: 19.75rem
}
.prototype_container_mobile{
  margin: 0 -4rem
}

.WireframesContainer {
  display: flex;
  justify-content: space-between;
}
.Container_desktop {
  display:flex;
  flex-direction: column;
}



@media screen and (min-width: 768px) and (max-width: 1030px) {


  .OpenerContainer, .InnerContainer{
    width: 90%;
    margin-bottom:7rem
  }
  .InnerContainer {
    margin-bottom: 0;
  }

  .Opener {
    width: 88%
  }
  .Button.enlarge, .Button.enlarge.white {
    font-size: 1.15rem;
  }
  h2.cases_openerText {
    font-size: 3.9rem
  }
  h5 {
    font-size: 1.7rem;
  }

  h6 {
    font-size: 1rem;
  }
  .h6.studies {
    font-size: 1.2rem;
  }

  .h5.dropCap::first-letter {
    font-size: 9.25rem;
  }
  .competitive, .competitive.hi_fi, .competitive.nyt_iteraction, .competitive.designFh {
    width: 80%
  }
  .competitive.flow, .competitive.mid_fi{
    width: 86%
  }
  .competitive.hi_fi,.competitive.designFh {
    margin-top: -2.5rem;
  }
  .competitive.hi_fi {
     margin-bottom: -2rem}

.competitive.mid_fi.mobile, .competitive.mid_fi.desktop {
  width: 100%
}
.competitive.designFh.four, .competitive.fh_mobile  {
  width: 86%
}


  .WideContainer.bottom {
    margin-bottom: 7rem;
    width: 100%
  }

  .mood {
    width: 80%
  }
  .prototype {
    width: 25rem
  }
  .InnerContainer.prototype.fh {
        width: 68rem;
        margin-bottom:6rem
    }

    .prototype.fh_desktop {
      width: 50rem
    }
    .prototype.fh_mobile {
      width: 18rem
    }
    .OpenerFoto.mobile {
      margin-top: -3.25rem
    }
}


/* ///// Media Queries ///// */
@media screen and (min-width: 480px) and (max-width: 767px)  {
  .OpenerContainer {
    width: 90%;
    margin-bottom:6.5rem
  }
  .Opener {
    width: 90%
  }
  .background {
    margin-top: -20rem;
    height:24rem
  }
  .textWrapper {
    padding: 2.5rem
  }
  h2 {
    font-size: 3.6rem;
  }
  h5 {
    font-size: 1.6rem;
  }
  .h5.small {
    font-size: 1.4rem;
  }
  .h6.studies {
    font-size: 1.2rem;
  }
  h6.h6.small {
    font-size: 1rem;
  }
  .InnerContainer {
    width: 90%
  }

  .h5.dropCap::first-letter {
    font-size: 8.5rem;
    float: left;
    line-height: .9; /* from 1 */
    margin-right: 0.05em;
    font-weight: 200;
  }
  .Button.enlarge {
    font-size: 1.1rem;
  }
  .OpenerFoto.mobile {
    width: 22%;
    margin-left: -2rem;
  }


  .competitive, .mood, .competitive.flow, .competitive.mid_fi, .competitive.hi_fi,
  .competitive.nyt_iteraction, .competitive.designFh, .competitive.mid_fi.desktop, .competitive.mid_fi.desktop, .competitive.designFh.four, .competitive.fh_mobile , .InnerContainer.prototype.fh {
    width: 100%
  }
  .competitive.persona {
    margin-bottom: 4rem;
  }

  .competitive.flow {
    margin-top: -9.5rem
  }

  .competitive.designFh {
    margin-top: -3rem;
}

.prototype {
  width: 25rem;
}
.WideContainer.bottom {
  margin-bottom: 6.5rem;
}
.WideContainer.ideate {
  padding-bottom: 4rem;
  margin-bottom: 6.5rem;
}
.competitive.hi_fi {
  margin-top: -2.5rem;
}
.prototype.fh_desktop {
  width:70%
}

 }
