.ModalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
}

.ModalContainer {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index: 175;
  width: 90%;
  top: 15%;
  /* background: #FAF9F8; */
  max-width: 150rem

}
.ModalContainerScroll {
  overflow: scroll;
  height: 80rem;
}
.ModalContainer-button {
  height: 4rem;
  font-size: 2rem;
  background: none;
}
