img.PrintImage {
  height: 385px;


}
.PrintImage.fit {
  border: .5px solid black;
  margin-right: 6rem
}
img.WebImage {
  height: 423px;
  margin-right: 6rem
}

img.WebImage.hb {
  margin-right: 0
}
figure.PrintImages, figure.WebImages {
  display: flex;
  flex-direction: column;}

.Print, .Web {
  display: flex;
  justify-content: space-between
}

.Web {
  margin-top: 5rem
}

.Print_captions {
  font-weight: 600;
  margin-right: 6rem;
  margin-top: 2rem;
  line-height: 2;

}
section.PrintImagesContainer {
  display: flex;
  flex-direction: column;
align-items: center;
}

.Button_website {
  background-color: black;
  color: white;
  padding: 1rem 3rem;
  margin-top: 3rem;
  width: fit-content;
  border-radius: 10rem;
  margin-bottom: 10rem;
  font-weight: 600
}
.Button_website:hover {
  box-shadow: 5px 5px 10px rgba(36, 36, 36, 0.5);
  color:bisque

}
