.PrintImagesContainer {
  display: flex;
  flex-direction: column;
align-items: center;
margin-bottom: 4rem;

}

.PrintImagesfit {
  width:33%
}

.PrintImages.lunch {
  width: 66%
}
.PrintImage {
  height: 400px;
  align-self: center;
max-height: 420px
}


.PrintImage.fit {
  border: .5px solid black;
  margin-right: 6rem
}
.WebImage {
  height: 445px;
  margin-right: 6rem;
  max-height: 430px;
  align-self: center;
}

.WebImage.hb {
  margin-right: 0px
}
.PrintImages, .WebImages {
  display: flex;
  flex-direction: column;}

.Print, .Web {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.Web {
  margin-top: 5rem
}

.Print_captions {
  font-weight: 600;
  margin-right: 6rem;
  margin-top: 2rem;
  line-height: 2;

}


.Print_captions.no_margin {
  margin-right: 0
}
