html,
body {
  height: 100%;

}
body {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
}

/* //hide scrollbar// */
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

:root {
  font-size: 62.5%;
}
/* font-family: gelica, sans-serif; */

/* font-family: neue-haas-grotesk-display, sans-serif; */


.AppContainer {
  width: 100vw;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  text-align: center;
  background: white;
  overflow-y: scroll;
  content: '';
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  background: snow;
  position: relative;
  z-index: 10;
  min-height: 100vh;
}
.HomeButtonContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


ul {
  padding: 0;
  list-style-type: none;
}
.TopContainer {
  margin:auto;
  margin-top: 27rem;
}
.main_type {
  font-size: 23rem;
  text-transform: lowercase;
  font-weight:600;
  letter-spacing: -.05em;
  line-height: .85;
  text-align: left;
  margin-left: -1rem
}

.BottomContainer {
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  width: 95rem

}

.Button_website {
  background-color: black;
  color: white;
  padding: .5rem 2rem;
  width: fit-content;
  border-radius: 10rem;
  margin-bottom: 10rem;
  font-weight: 600;
  height: 4.25rem
}

.Button_website:hover {
  box-shadow: 5px 5px 10px rgba(36, 36, 36, 0.5);
  color:bisque

}
