#NavbarContainer {
  padding-top: 5rem;
  width: 100%;
  position: fixed;
  height: 13.5rem;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: white;
  margin-bottom: 2rem;
  border: 0.5px solid black;
  padding-left: 10%;
  padding-right: 10%

}
.NavbarSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 110rem;
  margin: auto;
}

.Navbar-items {
  display: flex;
  padding-left: 0
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
text-align: center;
font-family: neue-haas-grotesk-text, sans-serif;
font-size: 1.1rem;
font-style: normal;
font-weight: 100;
line-height: 3.5rem;
letter-spacing: .35rem;
text-transform: uppercase;
text-decoration-style: none;
}
.Navbar-logo {
  margin-top: 1.5rem
}


.nav-links {
  display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
}


a {
  text-decoration: none !important;
}


.Navbar-section {
display: flex;
justify-content: center;
align-items: center;
gap: 357px;
}
.logo {
width: 45px;
}
.nav-item {
padding: 20px 20px;
display: flex;
flex-direction: column;
align-items: center
}
.navActive {
  width: 1.1rem;
  visibility: hidden;
}

.nav-links.active .navActive {
  visibility: visible;
}


.nav-link.active .icon {
  visibility: visible; /* Visible when the link is active */
}



li:first-child {
padding-left: 0;

}
.active {
  font-weight: 600;
  letter-spacing: .34rem;
}

#navbar-mobile {
  width: 100%;
  height: 100vh;
  background: white;
  position: fixed;
  z-index: 100;

}


#navbar {
  background: #fff;
  z-index: 100;
  display: flex;
  padding-top: 1.5rem;
  margin-left: 5%;
  top: 0;
  position: fixed;
  width: 100vw;
}
#navbar-mobile {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 150px;
}
#navbar-mobile ul {
  padding: 0;
  background-color: white;
  height: 10rem;
  width: 100vw;
  position: absolute;
  margin: 0;
  margin-top: -1rem

}

#navbar li {
  padding: 0 2rem;
  display: inline-block;
}

#navbar a,
#navbar-mobile a {
  color: rgba(0,0,0,.5);
}
#navbar a:focus {
  color: black;
}
#navbar a:hover {
  color: rgba(0,0,0,.75);
}
.nav-link-active {
  color: black
}

.navbar-mobile.active {
  display: inline
}
.navbar-mobile.not-active {
  display: none
}







/* ///// Media Queries ///// */
@media screen and (min-width: 768px) and (max-width: 1030px) {
  /* .nav-links {
    line-height: 1.7;
  } */
#NavbarContainer {
  padding-left: 5rem;
  padding-right: 5rem
}
.nav-item {
  padding:  2rem 1.5rem
}
/* .logo {
  margin-left: 2rem;
  margin-top: -2rem;



} */
/* .NavbarSection {
  align-items: center;
} */
}
